<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * BSS Commerce does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * BSS Commerce does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   BSS
 * @package    Bss_FBT
 * @author     Extension Team
 * @copyright  Copyright (c) 2014-2016 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bss" translate="label" sortOrder="300">
            <label><![CDATA[BSS COMMERCE]]></label>
        </tab>
        <section id="fbt" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label><![CDATA[Frequently Bought Together]]></label>
            <tab>bss</tab>
            <resource>Bss_FBT::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <attribute type="expanded">1</attribute>                 
                <field id="enable" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="item_type" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Priority List</label>
                    <frontend_model>Bss\FBT\Block\Adminhtml\System\Config\Form\SortItemType</frontend_model>
                    <comment><![CDATA[<strong>Real Data:</strong> Frequently bought together products will be calculated in according to the frequency of appearance with the main product of orders in the selected time period. ]]></comment>
                </field>
                <field id="sort_item_type" translate="label comment" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    
                </field>
                <field id="start_date" translate="label comment" sortOrder="4" type="text" showInDefault="1" showInStore="1" >
                    <label>Start Date</label>
                    <frontend_model>Bss\FBT\Block\Adminhtml\System\Config\Form\DatePicker</frontend_model>
                     <comment><![CDATA[Apply for <strong>Real Data</strong>. Please select date to begin calculating frequently bought together products.]]></comment>
                </field>
            </group>
            <group id="list_product_fbt" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                <label>Frequently Bought Together List Setting</label>
                <attribute type="expanded">1</attribute>
                <field id="display_list" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Display List</label>
                    <source_model>Bss\FBT\Model\Config\Source\Displaylist</source_model>
                </field>
                <field id="show_curent_product" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInStore="1" canRestore="1">
                    <label>Show Main Product in List</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title of List </label>
                </field>                 
                <field id="limit_products" translate="label comment" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Limit Products in List </label>
                    <validate>validate-digits validate-greater-than-zero</validate>
                    <comment><![CDATA[Number of items showed in Frequently Bought Together list]]></comment>
                </field>
                <field id="item_on_slide" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Limit Products in Slider </label>
                    <comment><![CDATA[Number of products showed in Frequently Bought Together slider]]></comment>
                    <validate>validate-digits validate-greater-than-zero</validate>
                </field>
                <field id="slide_speed" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Slider Speed</label>
                    <comment><![CDATA[Transition duration (in milliseconds) between two continuous slides (Example: 400)]]></comment>
                <validate>validate-digits validate-greater-than-zero</validate>
                </field>
                <field id="slide_auto" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Auto Slider</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                 <field id="show_price" translate="label comment" sortOrder="7" type="select" showInDefault="1" showInStore="1" canRestore="1">
                    <label>Show Price</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                 <field id="show_review" translate="label comment" sortOrder="8" type="select" showInDefault="1" showInStore="1" canRestore="1">
                    <label>Show Review</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="preview" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Preview Selected Items</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Only applied for <strong>Style 1</strong>. When a product is selected, brief information will be previewed.]]></comment>
                </field>
                <field id="sng_cart" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show "Add to Cart" Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="btn_cart" translate="label comment" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show "Add Multiple to Cart" Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="btn_text_cart" translate="label comment" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Text on "Add Multiple to Cart" Button</label>
                </field>
                <field id="btn_cart_bg" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Color of "Add Multiple to Cart" Button</label>
                    <validate>color</validate>
                </field>
                <field id="btn_cart_cl" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Color of Text on "Add Multiple to Cart" Button</label>
                    <validate>color</validate>
                </field>
                <field id="btn_wishlist" translate="label comment" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show "Add Multiple to WishList" Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="btn_text_wishlist" translate="label comment" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Text on "Add Multiple to WishList" Button </label>
                </field>
                <field id="btn_wishlist_bg" translate="label" type="text" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Color of "Add Multiple to WishList" Button</label>
                    <validate>color</validate>
                </field>
                <field id="btn_wishlist_cl" translate="label" type="text" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Color of Text on "Add Multiple to WishList" Button</label>
                    <validate>color</validate>
                </field>
            </group>
            <group id="success_popup" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                <label>Pop-up Setting</label>
                <field id="item_on_slide" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Limit Products in Slider</label>
                    <comment><![CDATA[Number of items showed in Success Pop-up slider]]></comment>
                    <validate>validate-digits validate-greater-than-zero</validate>
                </field>
                <field id="slide_speed" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Slider Speed</label>
                    <comment><![CDATA[Transition duration (in milisecond) between two continuous slides. (example: 400)]]></comment>
                <validate>validate-digits validate-greater-than-zero</validate>
                </field>
                <field id="slide_auto" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Auto Slider</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="product_price" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show Price</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="continue_button" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show "Continue" Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="active_countdown" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Countdown Time on Button</label>
                    <source_model>Bss\FBT\Model\Config\Source\Countdown</source_model>
                </field>
                <field id="countdown_time" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Countdown Time: ...(s)</label>
                    <validate>validate-digits validate-zero-or-greater</validate>
                </field>
                <field id="mini_cart" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show Cart Quantity and Cart Subtotal</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="mini_checkout" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show "Go to Checkout" link</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="btn_text_cart" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Text on "Add Multiple to Cart" Button</label>
                </field>
                <field id="btn_cart_bg" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Color of "Add Multiple to Cart" Button</label>
                    <validate>color</validate>
                </field>
                <field id="btn_cart_cl" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Color of Text on "Add Multiple to Cart" Button</label>
                    <validate>color</validate>
                </field>
                  <field id="btn_text_viewcart" translate="label comment" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Text on "View Cart" Button</label>
                </field>
                <field id="btn_viewcart_bg" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Color of "View Cart" Button</label>
                    <validate>color</validate>
                </field>
                <field id="btn_viewcart_cl" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Color of Text on "View Cart" Button</label>
                    <validate>color</validate>
                </field>
                  <field id="btn_text_continue" translate="label comment" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Text on "Continue" Button</label>
                </field>
                <field id="btn_continue_bg" translate="label" type="text" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Color of "Continue" Button</label>
                    <validate>color</validate>
                </field>
                <field id="btn_continue_cl" translate="label" type="text" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Color of Text on "Continue" Button</label>
                    <validate>color</validate>
                </field>
            </group>
        </section>
    </system>
</config>