<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * BSS Commerce does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * BSS Commerce does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   BSS
 * @package    Bss_FBT
 * @author     Extension Team
 * @copyright  Copyright (c) 2014-2016 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fbt>
            <general>
                <enable>1</enable>
                <show_curent_product>0</show_curent_product>
            </general>
            <list_product_fbt>
                <display_list>1</display_list>
                <sng_cart>0</sng_cart>
                <btn_cart>1</btn_cart>
                <btn_wishlist>1</btn_wishlist>
                <limit_products>20</limit_products>
                <title>Frequently Bought Together Products</title>
                <item_on_slide>5</item_on_slide>
                <slide_speed>500</slide_speed>
                <slide_auto>1</slide_auto>
                <show_price>1</show_price>
                <show_review>1</show_review>
                <preview>1</preview>
                <btn_text_cart>Add all products to cart </btn_text_cart>
                <btn_cart_bg>1979c3</btn_cart_bg>
                <btn_cart_cl>fff</btn_cart_cl>
                <btn_text_wishlist>Add all products to wishlist </btn_text_wishlist>
                <btn_wishlist_bg>1979c3</btn_wishlist_bg>
                <btn_wishlist_cl>fff</btn_wishlist_cl>
            </list_product_fbt>
            <success_popup>
                <item_on_slide>3</item_on_slide>
                <slide_speed>400</slide_speed>
                <slide_auto>1</slide_auto>
            	<product_price>0</product_price>
            	<continue_button>1</continue_button>
            	<active_countdown>1</active_countdown>
            	<countdown_time>5</countdown_time>
            	<mini_cart>1</mini_cart>
            	<mini_checkout>1</mini_checkout>
                <btn_text_cart>Add all products to cart</btn_text_cart>
                <btn_cart_bg>1979c3</btn_cart_bg>
                <btn_cart_cl>fff</btn_cart_cl>
                <btn_text_viewcart>View cart</btn_text_viewcart>
                <btn_viewcart_bg>1979c3</btn_viewcart_bg>
                <btn_viewcart_cl>fff</btn_viewcart_cl>
                <btn_text_continue>Continue</btn_text_continue>
                <btn_continue_bg>1979c3</btn_continue_bg>
                <btn_continue_cl>fff</btn_continue_cl>
            </success_popup>
        </fbt>
    </default>
</config>