<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * BSS Commerce does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * BSS Commerce does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   BSS
 * @package    Bss_FBT
 * @author     Extension Team
 * @copyright  Copyright (c) 2014-2016 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\Catalog\Model\Product"
                type="Bss\FBT\Model\Product"/>
    <preference for="Magento\Catalog\Model\Product\Link"
                type="Bss\FBT\Model\Catalog\Product\Link"/>
    <preference for="Magento\Catalog\Model\Product\Link\Proxy"
                type="Bss\FBT\Model\Catalog\Product\Link\Proxy"/>

    <type name="Magento\Catalog\Model\Product\Initialization\Helper\ProductLinks">
        <plugin sortOrder="4" name="afterInitializeLinks"
                type="Bss\FBT\Model\Product\Initialization\Helper\ProductLinks"/>
    </type>

    <!--For version 2.1.2-->
    <preference for="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Related"
                type="Bss\FBT\Ui\DataProvider\Product\Form\Modifier\Related"/>

    <type name="Magento\Catalog\Model\Product\LinkTypeProvider">
        <arguments>
            <argument name="linkTypes" xsi:type="array">
                <item name="fbt" xsi:type="const">Bss\FBT\Model\Catalog\Product\Link::LINK_TYPE_FBT</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Model\ProductLink\CollectionProvider">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="fbt" xsi:type="object">Bss\FBT\Model\Product\Link\CollectionProvider\Fbt</item>
            </argument>
        </arguments>
    </type>
</config>
